.wordButton1{
  color: white;
  background-color: gray;
  border-radius: 15%;
}

.wordButton2{
  color: lightgreen;
  background-color: blue;
  border-radius: 35%;
}

.wordButton3{
  color: pink;
  background-color: red;
  border-radius: 0%;
}
