VITE_POKEAPI_BASE_URL=https://pokeapi.co/api/v2/
VITE_POKESPRITES_BASE_URL=https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/
VITE_POKEMON_DATA_URL=https://raw.githubusercontent.com/Adr1GR/PokedexVueData/main/pokemons.json

DEV_MODE=FALSE